:root {
    --grid-cols: 20; /* Default number of columns */
    --grid-rows: 20; /* Default number of rows */
}
i {
    font-size: 20px;
}
body {
    background-color: #e7e7e7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3 {
    margin-top: 20px;
    text-align: center;
}
h1 {
    font-size: 60px;
    color: #4e4e4e;
}
#main {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.controls {
    justify-content: start;
    gap: 20px;
    align-items: center;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    box-shadow: inset 0px 0px 20px 0px #acacac;
    border-radius: 10px;
    padding: 20px;
}
#colorPicker {
    -webkit-appearance: none;
    width: 100px; /* Set the width */
    height: 100px; /* Set the height */
    border: none; /* Add a border */
    border-radius: 100%; /* Round the corners */
    padding: 0px; /* Add padding */
}
 
#container { 
    width: 60%;
    box-shadow: 0 0 20px -5px #707070;
    aspect-ratio: 1/1;
    display: grid;
    gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    color: #fff;
    text-align: center;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.grid-item:hover {
    background-color: #edf8ae;
    color: darkslateblue;
}
button {
    border-radius: 12px;
    background: linear-gradient(145deg, #f3f3f3, #dddddd);
    box-shadow: 4px 4px 19px 10px #bebebe, -16px -20px 20px #ffffff;
    cursor: pointer;
    border: none;
    padding: 16px;
    transition: 0.1s ease-in-out;
}
button:hover {
    translate: 1px;
}
label {
    display: block;
}