:root {
    --grid-cols: 20; /* Default number of columns */
    --grid-rows: 20; /* Default number of rows */
}
i {
    font-size: 20px;
}
body {
    background-color: #0c191f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3 {
    color: lightblue;
    margin-top: 20px;
    text-align: center;
}
#main {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.controls {
    justify-content: start;
    gap: 20px;
    align-items: center;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    box-shadow: inset 0px 0px 20px 0px #0c2a48;
    border-radius: 10px;
    padding: 20px;
}
#colorPicker {
    -webkit-appearance: none;
    width: 100px; /* Set the width */
    height: 100px; /* Set the height */
    border: none; /* Add a border */
    border-radius: 100%; /* Round the corners */
    padding: 0px; /* Add padding */
}
 
#container { 
    width: 60%;
    aspect-ratio: 1/1;
    display: grid;
    gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.grid-item:hover {
    background-color: #edf8ae;
    color: darkslateblue;
}
button {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #9d9fb3;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 13px -8px #202aa5;
    transition: 0.1s ease-in-out;
}
button:hover {
    translate: 1px 1px;
    box-shadow: 0 0 13px -4px #202aa5;
}
label {
    display: block;
}